<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="arm2_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00471637962515252 -2.02435604085736E-18 0.0325389989094777"
        rpy="0 0 0" />
      <mass
        value="1.29746966186444" />
      <inertia
        ixx="0.0014759781678178"
        ixy="-1.35008629777876E-19"
        ixz="1.5537047040001E-05"
        iyy="0.00421739897158573"
        iyz="-2.46131259795954E-20"
        izz="0.00471200538832214" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.35" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-0.0013075 1.1113E-09 0.065249"
        rpy="0 0 0" />
      <mass
        value="0.43177" />
      <inertia
        ixx="0.00069332"
        ixy="3.1153E-11"
        ixz="-4.597E-05"
        iyy="0.00071229"
        iyz="-7.9991E-11"
        izz="0.00027594" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.35" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.08"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="1.79311178215976E-17 0.2 -0.0175"
        rpy="0 0 0" />
      <mass
        value="2.15623344465657" />
      <inertia
        ixx="0.0404607303446179"
        ixy="-4.14419120350934E-18"
        ixz="5.55520941747359E-20"
        iyy="0.00339947089168857"
        iyz="3.41073538657204E-19"
        izz="0.0434199702413557" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.35" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0.035 0 0.09"
      rpy="1.5708 0 1.5708" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-2.0361E-16 0.175 -0.048447"
        rpy="0 0 0" />
      <mass
        value="2.4893" />
      <inertia
        ixx="0.047425"
        ixy="-6.7694E-18"
        ixz="1.4197E-19"
        iyy="0.0035794"
        iyz="1.9095E-18"
        izz="0.049871" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.35" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 0.4 0"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-7.1281E-08 0.13392 -0.0082921"
        rpy="0 0 0" />
      <mass
        value="1.981" />
      <inertia
        ixx="0.016967"
        ixy="8.5801E-09"
        ixz="1.576E-08"
        iyy="0.0027423"
        iyz="-0.0005982"
        izz="0.018501" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.35" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0 0.35 0"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="6.8945E-17 0.0024682 2.7756E-17"
        rpy="0 0 0" />
      <mass
        value="0.16754" />
      <inertia
        ixx="9.3733E-05"
        ixy="-7.6049E-20"
        ixz="1.2497E-20"
        iyy="0.00030256"
        iyz="-6.6341E-23"
        izz="0.00027659" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.35" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 0.3 0"
      rpy="0 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="-0.0125 0.017368 0.025"
        rpy="0 0 0" />
      <mass
        value="0.19059" />
      <inertia
        ixx="0.00016892"
        ixy="3.5796E-20"
        ixz="-9.2019E-20"
        iyy="0.00025339"
        iyz="-1.6928E-05"
        izz="0.00011093" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.35" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="prismatic">
    <origin
      xyz="-0.075 0.025 0.0125"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_7">
    <inertial>
      <origin
        xyz="-0.0125 -0.017368 0.025"
        rpy="0 0 0" />
      <mass
        value="0.19059" />
      <inertia
        ixx="0.00016892"
        ixy="4.3139E-20"
        ixz="8.278E-22"
        iyy="0.00025339"
        iyz="1.6928E-05"
        izz="0.00011093" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/link_7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.35" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2_urdf/meshes/link_7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_7"
    type="prismatic">
    <origin
      xyz="0.075 0.025 0.0125"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="link_5" />
    <child
      link="link_7" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>
